<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{> title}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" async>
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <div class="wrapper">
                <h1 class="site-logo">
                    <a class="site-home-link" href="/">What's my zipcode?</a>
                </h1>
            </div>
        </header>
        <div class="site-content wrapper">
            {{{ body }}}
        </div>
        <footer class="site-footer">
            <div class="wrapper">
                <p>
                    All rights reserved.
                </p>
            </div>
        </footer>
    </div>
    <script src="/assets/scripts.js"></script>
</body>
</html>
