<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{> title}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" async>
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
    <div class="site-wrapper">
        <div class="site-content">
            {{{ body }}}
        </div>
    </div>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="/assets/scripts.js"></script>
</body>
</html>
